<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseAbilityScores</key>
	<dict>
		<key>Strength</key>
		<integer>10</integer>
		<key>Dexterity</key>
		<integer>10</integer>
		<key>Constitution</key>
		<integer>10</integer>
		<key>Intelligence</key>
		<integer>10</integer>
		<key>Wisdom</key>
		<integer>10</integer>
		<key>Charisma</key>
		<integer>10</integer>
	</dict>
	<key>MinimumAbilityScores</key>
	<dict>
		<key>Strength</key>
		<integer>7</integer>
		<key>Dexterity</key>
		<integer>7</integer>
		<key>Constitution</key>
		<integer>7</integer>
		<key>Intelligence</key>
		<integer>7</integer>
		<key>Wisdom</key>
		<integer>7</integer>
		<key>Charisma</key>
		<integer>7</integer>
	</dict>
	<key>MaximumAbilityScores</key>
	<dict>
		<key>Strength</key>
		<integer>18</integer>
		<key>Dexterity</key>
		<integer>18</integer>
		<key>Constitution</key>
		<integer>18</integer>
		<key>Intelligence</key>
		<integer>18</integer>
		<key>Wisdom</key>
		<integer>18</integer>
		<key>Charisma</key>
		<integer>18</integer>
	</dict>
	<key>PointBuyValues</key>
	<dict>
		<key>Standard Fantasy</key>
		<integer>15</integer>
		<key>Low Fantasy</key>
		<integer>10</integer>
		<key>High Fantasy</key>
		<integer>20</integer>
		<key>Epic Fantasy</key>
		<integer>25</integer>
	</dict>
	<key>PointCosts</key>
	<dict>
		<key>7</key>
		<integer>-4</integer>
		<key>8</key>
		<integer>-2</integer>
		<key>9</key>
		<integer>-1</integer>
		<key>10</key>
		<integer>0</integer>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<integer>2</integer>
		<key>13</key>
		<integer>3</integer>
		<key>14</key>
		<integer>5</integer>
		<key>15</key>
		<integer>7</integer>
		<key>16</key>
		<integer>10</integer>
		<key>17</key>
		<integer>13</integer>
		<key>18</key>
		<integer>17</integer>
	</dict>
</dict>
</plist>
